<div class="modal-header">
    <h4 class="modal-title">Agregar Admin</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<form [formGroup]="myForm">
    <div class="modal-boy">
        <div class="container" novalidate>
            
            <div class="form-group">
                <label for="username" [ngClass]="myForm.controls['username'].invalid ? 'text-danger' : 'text-success'" class="text-muted">Nombre de usuario:</label>
                <input id="username" [(ngModel)]='currentAdmin[0]' formControlName="username" type="text" class="form-control" [ngClass]="myForm.controls['username'].invalid ? 'is-invalid' : ''" #username>
                <small class="form-text text-danger" *ngIf="myForm.controls['username'].hasError('required')">
                    nombre de usuario es requerido
                </small>
                
            </div>
            
            <div class="form-group">
                <label for="email" [ngClass]="myForm.controls['email'].invalid ? 'text-danger' : 'text-success'">Correo electronico:</label>
                <input id="email" [(ngModel)]='currentAdmin[1]' formControlName="email" type="email" class="form-control" [ngClass]="myForm.controls['email'].invalid ? 'is-invalid' : ''" #email>
                <small class="form-text text-danger" *ngIf="myForm.controls['email'].hasError('required')">
                    email es requerido
                </small>
                <label class="text-danger" *ngIf="myForm.controls['email'].hasError('email')">
                    ingresa un correo electronico valido
                </label>
            </div>
            
            <div class="form-group">
                <label for="password" [ngClass]="myForm.controls['password'].invalid ? 'text-danger' : 'text-success'">Contraseña:</label>
                <input id="password" [(ngModel)]='currentAdmin[2]' formControlName="password" type="password" class="form-control" [ngClass]="myForm.controls['password'].invalid ? 'is-invalid' : ''" #password>
                <label class="col" [ngClass]="myForm.controls['password'].hasError('required') || myForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons">{{ myForm.controls['password'].hasError('required') ||
                      myForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                      'check_circle' }}</i>
                    La contraseña tiene que contener al menos un número.
                  </label>

                <label class="col" [ngClass]="myForm.controls['password'].hasError('required') || myForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons">{{ myForm.controls['password'].hasError('required') ||
                        myForm.controls['password'].hasError('minlength') ? 'cancel' :
                        'check_circle' }}</i>
                        La contraseña debe tener al menos 6 caracteres.
                    </label>

                    <label class="col" [ngClass]="myForm.controls['password'].hasError('required') || myForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons">
                            {{ myForm.controls['password'].hasError('required') || myForm.controls['password'].hasError('hasCase') ? 'cancel' : 'check_circle' }}
                        </i> 
                        La contraseña tiene que contener al menos una letra
                    </label>
                </div>
                
                <div class="form-group">
                    <label for="confirmPassword" [ngClass]="myForm.controls['confirmPassword'].invalid ? 'text-danger' : 'text-success'">Confirmar contraseña:</label>
                    <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" [ngClass]="myForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''" #confirmPassword>
                    <label class="text-danger" *ngIf="myForm.controls['confirmPassword'].hasError('required')">
                        contraseña requerida
                    </label>
                    <small class="form-text text-danger" *ngIf="myForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                        contraseñas no coinciden.
                    </small>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button"  (click)="addAdmin(currentAdmin)"  [disabled]="myForm.pristine || myForm.invalid"  class="btn btn-success pull-right">Agregar</button> 
        </div>
    </form>