

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Tours ({{arrayOfTours.length}})</h4>
            <button class="btn btn-success" (click)="openFormModalAdd()">Agregar</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    Nombre del Tour
                  </th>
                  <th>
                    Información del Tour
                  </th>
                  <th>
                    Camiones Asignados
                  </th>
                  <th>
                    Tiempos Asignados
                  </th>
                  <th>
                    Lugares Asignados
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let tour of arrayOfTours" class="list-group-item-action">
                    <td> {{ (tour.name) | titlecase }} </td>
                    <td>
                      <a class="text-primary" (click)="displayTourInfo(tour.id)">
                        Ver información.
                      </a>
                    </td>
                    
                    <td>
                      <a class="text-primary" (click)="displayBusInfo(tour.buses, tour.id)">
                        Ver Camiones asignados.
                      </a>
                    </td>
                    <td>
                      <a class="text-primary" (click)="displayTimeInfo(tour.id)">
                        Ver Horarios asignados.
                      </a>
                    </td>
                    <td>
                      <a class="text-primary" (click)="displayPlaceInfo(tour.places, tour.id)">
                        Ver Lugares asignados.
                      </a>
                    </td>

                    <td>
                      <div class="btn-group">
                          <button class="btn btn-danger" type="button" (click)="deleteTour(tour.id)">
                              <i class="fa fa-trash text-white"></i>
                          </button>
                      </div>
                      <div class="btn-group">
                          <button class="btn btn-info" type="button" (click)="openFormModalEdit(tour.id)">
                              <i class="fa fa-pencil text-white"></i>
                          </button>
                      </div>
                  </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>