<div class="modal-header">
        <h4 class="modal-title">Agregar Lugar</h4>
        <button type="button" class="close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<form [formGroup]="placeForm" novalidate >
        <div class="modal-boy">
                <div class="container" novalidate>
                        
                        <div class="form-group">
                                <label for="name" [ngClass]="placeForm.controls['name'].invalid ? 'text-danger' : 'text-success'" class="text-muted">Nombre del lugar:</label>
                                <input id="name" [(ngModel)]='currentPlace[0]' formControlName="name" type="text" class="form-control" [ngClass]="placeForm.controls['name'].invalid ? 'is-invalid' : ''" #name>
                                <small class="form-text text-danger" *ngIf="placeForm.controls['name'].hasError('required')">
                                        El nombre del lugar es requerido
                                </small> 
                        </div>
                        
                        <div class="form-group">
                                <label for="description" [ngClass]="placeForm.controls['description'].invalid ? 'text-danger' : 'text-success'" class="text-muted">Descripcion del lugar:</label>
                                <textarea id="description" outline="1px solid blue" rows="5" [(ngModel)]='currentPlace[1]' formControlName="description" type="text" class="form-control" [ngClass]="placeForm.controls['description'].invalid ? 'is-invalid' : ''" #description></textarea>
                                <small class="form-text text-danger" *ngIf="placeForm.controls['description'].hasError('required')">
                                        La descripcion del lugar es requerido
                                </small> 
                        </div>
                        
                        <div class="form-group">
                                <label for="latitude" [ngClass]="placeForm.controls['latitude'].invalid ? 'text-danger' : 'text-success'" class="text-muted">Latitud del lugar:</label>
                                <input id="latitude" [(ngModel)]='currentPlace[2]' formControlName="latitude" type="text" class="form-control" [ngClass]="placeForm.controls['latitude'].invalid ? 'is-invalid' : ''" #latitude>
                                <small class="form-text text-danger" *ngIf="placeForm.controls['latitude'].hasError('required')">
                                        La latitud del lugar es requerida
                                </small> 
                        </div>
                        
                        <div class="form-group">
                                <label for="longitude" [ngClass]="placeForm.controls['longitude'].invalid ? 'text-danger' : 'text-success'" class="text-muted">Longitud del lugar:</label>
                                <input id="longitude" [(ngModel)]='currentPlace[3]' formControlName="longitude" type="text" class="form-control" [ngClass]="placeForm.controls['longitude'].invalid ? 'is-invalid' : ''" #longitude>
                                <small class="form-text text-danger" *ngIf="placeForm.controls['longitude'].hasError('required')">
                                        La longitud del lugar es requerida
                                </small> 
                        </div>
                        
                        <div class="form-group">
                                <label for="narrative_url"  class="text-muted">Narrativa del lugar (URL):</label>
                                <input id="narrative_url" [(ngModel)]='currentPlace[4]' formControlName="narrative_url" type="text" class="form-control" [ngClass]="placeForm.controls['narrative_url'].invalid ? 'is-invalid' : ''" #narrative_url>
                        </div>
                        
                        <div class="form-group">
                                <label for="place_type_id" [ngClass]="placeForm.controls['place_type_id'].invalid ? 'text-danger' : ''">Tipo de Lugar:</label>
                                <div class="radio" *ngFor="let type of allTypeOfPlaces">
                                        <label>
                                                <input id="place_type_id" type="radio" [value]="type.id" [(ngModel)]='currentPlace[5]' formControlName="place_type_id" [ngClass]="placeForm.controls['place_type_id'].invalid ? 'is-invalid' : ''" #place_type_id>
                                                {{type.name}}
                                        </label>
                                </div>
                                <label class="text-danger" *ngIf="placeForm.controls['place_type_id'].hasError('required')">
                                        El Tipo de Lugar es requerido.
                                </label> 
                        </div>   
                        
                </div>
        </div>
        <div class="modal-footer">
                <button type="button"  (click)="addPlace(currentPlace)"  [disabled]="placeForm.pristine || placeForm.invalid"  class="btn btn-danger pull-right">Agregar</button> 
        </div>
</form>




