<div class="modal-header">
        <h4 class="modal-title">Agregar Lugar</h4>
        <button type="button" class="close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<form [formGroup]="placeForm" novalidate >
        <div class="modal-boy">
                <div class="container" novalidate>
                        
                        <div class="form-group">
                                <label for="name" [ngClass]="placeForm.controls['name'].invalid ? 'text-danger' : 'text-success'" class="text-muted">Nombre del lugar:</label>
                                <input id="name" [(ngModel)]='currentPlace[0]' formControlName="name" type="text" class="form-control" [ngClass]="placeForm.controls['name'].invalid ? 'is-invalid' : ''" #name>
                                <small class="form-text text-danger" *ngIf="placeForm.controls['name'].hasError('required')">
                                        El nombre del lugar es requerido
                                </small> 
                        </div>
                        
                        <div class="form-group">
                                <label for="description" [ngClass]="placeForm.controls['description'].invalid ? 'text-danger' : 'text-success'" class="text-muted">Descripcion del lugar:</label>
                                <textarea id="description" outline="1px solid blue" rows="5" [(ngModel)]='currentPlace[1]' formControlName="description" type="text" class="form-control" [ngClass]="placeForm.controls['description'].invalid ? 'is-invalid' : ''" #description></textarea>
                                <small class="form-text text-danger" *ngIf="placeForm.controls['description'].hasError('required')">
                                        La descripcion del lugar es requerido
                                </small> 
                        </div>

                        <p class="font-weight-bold text-danger">Nota: haz click sobre el mapa para mover el marcador</p>
                        <agm-map style="height: 400px;" [latitude]="lat" [longitude]="lng" [zoom]="17" (mapClick)="changeMarkerOnMap($event)">
                            <agm-marker [latitude]="lat" [longitude]="lng">
                                <agm-info-window [isOpen]="true">
                                        <h5 class="text-dark font-weight-bold">Tipo de lugar: </h5>
                                        <mat-radio-group [(ngModel)]="currentTypeOfPlaceId">
                                                        <mat-radio-button  *ngFor="let type of allTypeOfPlaces" [value]="type.id" >
                                                                {{type.name}}
                                                        </mat-radio-button>
                                        </mat-radio-group>
                                        <p>Selected: {{currentTypeOfPlaceId}}</p>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                        
                        <div class="form-group">
                                <label for="narrative_url"  class="text-muted">Narrativa del lugar (URL):</label>
                                <input id="narrative_url" [(ngModel)]='currentPlace[4]' formControlName="narrative_url" type="text" class="form-control" [ngClass]="placeForm.controls['narrative_url'].invalid ? 'is-invalid' : ''" #narrative_url>
                        </div>  
                        
                </div>
        </div>
        <div class="modal-footer">
                <button type="button"  (click)="addPlace(currentPlace)"  [disabled]="placeForm.pristine || placeForm.invalid"  class="btn btn-danger pull-right">Agregar</button> 
        </div>
</form>




