<div class="main-content">
  <div class="container-fluid">
      <div class="row" >  
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title"> Pasp 3 de 3. Selecciona un rango de fecha y hora</h4>
                      <p class="card-category">Completa todos los campos</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="myInfo" novalidate >
                          <div class="row">
                              <div class="col-md-12">
                                  
                                  <mat-form-field>
                                      <mat-select placeholder="Selecciona una fecha" formControlName="date" #date>
                                        <mat-option *ngFor="let date of dates" [value]="date.id">
                                          {{date.start_date}} - {{date.end_date}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    <label class="text-danger" *ngIf="myInfo.controls['date'].hasError('required')">
                                        El rango de fechas es requerido
                                    </label>
                              </div>
                          </div>
      
                              <div class="row">
                                  <div class="col-md-12">
                                      <mat-form-field>
                                          <mat-select placeholder="Selecciona un horario" formControlName="hour" #hour >
                                            <mat-option *ngFor="let hour of hours" [value]="hour.id">
                                              {{hour.start_time}} - {{hour.end_time}}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                        <label class="text-danger" *ngIf="myInfo.controls['hour'].hasError('required')">
                                            El rango de horarios es requerido
                                        </label>
                                        
                                        
                                  </div>
                               </div>
                              
      
                               <button mat-raised-button  type="submit"  [disabled]="myInfo.pristine || myInfo.invalid"   class="btn btn-danger pull-left" (click)="addInformationDate(date.value, hour.value)" >Agregar nueva informacion de fecha y horario</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>  
      </div> 
  </div>
</div> 