
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title text-dark">Usuarios ({{usuarios.length}})</h4>
                      <!-- <button type="button" class="btn btn-success" >
                        Agregar
                      </button> -->
                    </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Telefono
                                </th>
                                <!-- <th>
                                    Acciones
                                </th> -->
                              <tbody>
                                
                                <tr *ngFor="let usuario of usuarios"
                                class="list-group-item-action">
                                    <td>{{ usuario.name | titlecase }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{usuario.phone_number}}</td>
                                    
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>    
      </div>
  </div>
  </div>
  