
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title text-dark">Usuarios ({{usuarios.length}})</h4>
                      <!-- <button type="button" class="btn btn-success" >
                        Agregar
                      </button> -->
                    </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Telefono
                                </th>
                                <!-- <th>
                                    Acciones
                                </th> -->
                              <tbody>
                                <tr *ngIf="selectedUsuario != ''">
                                    <td>
                                        <input type="text" [(ngModel)]="selectedUsuario.name" class="form-control" >
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="selectedUsuario.email" class="form-control" >
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="selectedUsuario.phone_number" class="form-control" >
                                    </td>
                                    <td>
                                        <div class="btn-group"  role="group" >
                                            <button type="button"
                                            class="btn btn-success"
                                            (click)="editUsuario(selectedUsuario)">
                                                <i class="fa fa-check text-white"></i>
                                            </button>
                                            <button type="button" 
                                            class="btn btn-outline-secondary"
                                            (click)="ngOnInit()">
                                                <i class="fa fa-times text-dark"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let usuario of usuarios"
                                class="list-group-item-action">
                                    <td>{{ usuario.name | titlecase }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{usuario.phone_number}}</td>
                                    <!-- <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button class="btn btn-danger" type ="button" (click)="deleteUsuario(usuario.id)">
                                                <i class="text-white fa fa-trash"></i>
                                            </button>
                                            <button class="btn btn-outline-secondary" type="button" (click)="readyForEdition(usuario)">
                                                <i class="fa fa-pencil text-dark"></i>
                                            </button>
                                        </div>
                                    </td> -->
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>    
      </div>
  </div>
  </div>
  