<div class="modal-header">
    <h4 class="modal-title">Agregar Admin</h4>
    <button type="button" class="close" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
</button>
</div>
<form [formGroup]="myForm">
    <div class="modal-boy">
        <div class="container" novalidate>
            
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" type="text" class="form-control" formControlName="username" #name >
                </mat-form-field>
            </div>
            
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="text" class="form-control" formControlName="email" #email >
                </mat-form-field>
            </div>
            
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" class="form-control" formControlName="password" #password >
                </mat-form-field>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button mat-raised-button  type="button"  (click)="addAdmin(name.value, email.value, password.value)"  [disabled]="myForm.pristine || myForm.invalid"  class="btn btn-danger pull-right">Agregar</button>      
    </div>
</form>