

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title text-dark">Horarios ({{dates.length}})</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/create']">
                          Agregar
                        </button>
                      </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                  <th>
                                      Fecha de inicio
                                  </th>
                                  <th>
                                      Fecha final
                                  </th>
                                  <th>
                                        Servicio
                                  </th>
                                  <th>
                                      Horario inicial
                                  </th>
                                  <th>
                                      Horario final
                                  </th>
                                  <th>
                                      Frecuencia
                                  </th>
                                  <th>
                                      Acciones
                                  </th>
                                  
                                <tbody>
                                  <tr *ngFor="let date of dates"
                                  class="list-group-item-action">
                                      <td>{{date.date_id?(date.date_id.start_date):"N/A"}}</td>
                                      <td>{{date.date_id?(date.date_id.end_date):"N/A"}}</td>
                                      <td>{{date.date_id?(date.date_id.service):"N/A"}}</td>
                                      <td>{{date.hour_id?(date.hour_id.start_time):"N/A"}}</td>
                                      <td>{{date.hour_id?(date.hour_id.end_time):"N/A"}}</td>
                                      <td>{{date.hour_id?(date.hour_id.frequency):"N/A"}}</td>
                                      
                                    
                                      <td>
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                              <button class="btn btn-danger" type ="button" (click)="deleteDate(date.id)"  >
                                                  <i class="text-white fa fa-trash"></i>
                                              </button>
                                              <button class="btn btn-outline-secondary" type="button" [routerLink]="['/edit']" >
                                                  <i class="fa fa-pencil text-dark"></i>
                                              </button>
                                          </div>
                                      </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    </div>
    
