<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title text-white">Rutas</h4>
                      </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select 
                                        [(ngModel)]="currentTour.id">
                                        <mat-option 
                                            *ngFor="let tour of arrayOfTours" 
                                            [value]="tour.id"
                                            (click)="updateCurrentTour(tour.id)">
                                            {{ tour.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <agm-map 
                            [latitude]="center.lat" 
                            [longitude]="center.lng" 
                            [zoom]="14">
                            <agm-polygon
                                [geodesic]="true"
                                [strokeColor]=""
                                [strokeOpacity]="0.3"
                                [fillOpacity]="0.0"
                                [strokeWeight]="3"
                                [paths]="markersOnMap">
                                    <agm-marker
                                        *ngFor="let marker of markersOnMap"
                                        [latitude]="marker.lat" 
                                        [longitude]="marker.lng">
                                        <agm-info-window
                                            [maxWidth]="150">
                                            <div class="container">
                                                <p class="font-weight-bold">
                                                    {{marker.name}}
                                                </p>
                                                <img 
                                                    src="{{marker.image_url}}" 
                                                    class="img-thumbnail"
                                                    *ngIf="marker.image_url.length > 5">
                                            </div>
                                        </agm-info-window>
                                    </agm-marker>
                            </agm-polygon>
                        </agm-map>
                    </div>
                </div>
            </div>    
        </div>
    </div>
 </div>