

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title text-dark">Lugares ()</h4>
                      <button type="button" class="btn btn-success" >
                        Agregar
                      </button>
                    </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                <th>
                                    Lugar
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    Tipo de lugar
                                </th>
                                <th>
                                    Imagen
                                </th>
                                <th>
                                    Narrativa
                                </th>
                                <th>
                                  Tour asociado
                                </th>
                              <tbody>
                                <tr *ngFor="let place of places"
                                class="list-group-item-action">
                                    <td>{{place.name}}</td>
                                    <td>{{place.description}}</td>
                                    <td></td>
                                    <td></td>
                                    <!-- <td>{{mural.bud_id.numBus}}</td> -->
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button class="btn btn-danger" type ="button" (click)="deletePlace(place.id)"  >
                                                <i class="text-white fa fa-trash"></i>
                                            </button>
                                            <button class="btn btn-outline-secondary" type="button" (click)="readyForEdition(usuario)">
                                                <i class="fa fa-pencil text-dark"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>    
      </div>
  </div>
  </div>
  
