
  .card-body{
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .card {
    width: 600px;
    background: #fff;
  }
  
  .img_logo span img{
      width: 10em;
      margin-top: 0em;
  }
  
  .input-group-prepend span{
    background: #BDBDBD;
  }
  