
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Autobuses</h4>
                        <!-- <a routerLink="create">
                              Agregar usuario   
                       </a> -->
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                      <!-- {{ usuarios}} -->
                      <button type="button" class="btn btn-warning">NUEVO</button>
                      </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                  
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Correo
                                    </th>
                                    <th>
                                      Telefono
                                      </th>
                                    <th>
                                        Borrar
                                    </th>
                                    <th>
                                        Eliminar
                                     </th>
                                    
                                </thead>
                                <tbody>
                                  <tr *ngFor="let usuario of usuarios">
                                      <!-- <td>{{usuario.id}}</td> -->
                            
                                      <td>{{ usuario.name }}</td>
                                      <!-- <td>{{ usuario.correo }}</td> -->
                                      <td>{{ usuario.email }}</td>
                                      <td>{{usuario.phone_number}}</td>
                                      <td>
                                          <i (click)="deleteUsuario(usuario.id)"  class="material-icons">
                                                  delete
                                          </i>
                                      </td>
                                          <td><a [routerLink]="['/edit', usuario.id]"><i class="material-icons">edit</i></a></td>
  
                                          
                                     
                                      <!-- <td><a routerLink="create">
                                              Agregar usuario   
                                       </a></td> -->
                                      <!-- <td>{{usuario.phone_number}}</td> -->
                                      <!-- <td><a [routerLink]="['/edit', coin.id]" class="btn btn-primary">Edit</a></td>
                                      <td><button (click)="deleteCoin(coin.id)"  class="btn btn-danger">Delete</button></td> -->
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    </div>
    