<div class="modal-header">
  <h3 class="modal-title text-center" *ngIf="!switchToAddModal">Editar horario: {{id}} </h3>
  <h3 class="modal-title text-center" *ngIf="switchToAddModal">Agregar nuuevo Horario </h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <h5>Fecha de inicio</h5>
        <mat-form-field>
            <input matInput [matDatepicker]="startDate" 
              [(ngModel)]="start_date"
              (dateChange)="updateStartDate($event)"
              (dateInput)="updateStartDate($event)">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-4">
      <h5>Fecha de término</h5>
        <mat-form-field>
            <input  matInput [matDatepicker]="endDate"
              [(ngModel)]="end_date"
              (dateChange)="updateEndDate($event)"
              (dateInput)="updateEndDate($event)">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-checkbox [(ngModel)]="dateInterval.service">Servicio</mat-checkbox>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h5>Hora de inicio</h5>
      <ngb-timepicker [(ngModel)]="start_hour" [meridian]="true"></ngb-timepicker>
    </div>
    <div class="col-md-4">
        <h5>Hora de término</h5>
        <ngb-timepicker [(ngModel)]="end_hour" [meridian]="true"></ngb-timepicker>
    </div>
    <div class="col-md-4">
      <h5>Frecuencia</h5>
      <input type="number" class="form-control" [(ngModel)]="hourInterval.frequency">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" 
    (click)="updateDateInfo()"
    *ngIf="!switchToAddModal">
    Actualizar
  </button>
  <button class="btn btn-success" 
    (click)="addDate()"
    *ngIf="switchToAddModal">
    Guardar
  </button>
</div>