
<div class="panel panel-primary">
    <div class="panel-heading">
      Usuarios
    </div>
    <div class="panel-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">User Name</label>
          <input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "usuario.name"/>
        </div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">User email</label>
          <input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "usuario.email" />
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
            Name is required.
          </div>
        </div>
          <div class="form-group">
            <button (click)="updateUsuario(name.value, email.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update</button>
          </div>
      </form>
    </div>
  </div>
  