<div class="modal-header">
    <h4 class="modal-title">Modifiicar Camiones</h4>
    <button type="button" class="close" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
</button>
</div>


<form [formGroup]="form">
    <div class="modal-boy">
        <div class="container" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p class="font-weight-bold">Camiones Asignados:</p>
                    <div class="checkbox" *ngFor="let bus of form.controls.arrayOfAllBuses.controls; let i = index">
                        <label formArrayName="arrayOfAllBuses">
                            <input type="checkbox" [formControlName]="i">
                            {{arrayOfAllBuses[i].numBus}}: {{(arrayOfAllBuses[i].availability)?"Activo":"En Mantenimiento"}}<br>
                        </label> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"  (click)="updateTour()"  [disabled]="form.pristine || form.invalid"  class="btn btn-danger pull-right">Editar</button> 
    </div>
</form>