<div class="modal-header">
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<form [formGroup]="form">
    <div class="modal-boy">
        <div class="container" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p class="font-weight-bold">Lugares Asignados:</p>
                    <div class="checkbox" *ngFor="let place of form.controls.arrayOfAllPlaces.controls; let i = index">
                        <label formArrayName="arrayOfAllPlaces">
                            <input type="checkbox" [formControlName]="i">
                            {{arrayOfAllPlaces[i].name}}<br>
                        </label> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"  (click)="updateTour()"  [disabled]="form.pristine || form.invalid"  class="btn btn-danger pull-right">Editar</button> 
    </div>
</form>
