<div class="modal-header">
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<form [formGroup]="form">
    <div class="modal-boy">
        <div class="container" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p class="font-weight-bold">Intervalos de Fechas y Horas:</p>
                    <div class="checkbox" *ngFor="let time of form.controls.arrayOfAllDateInfo.controls; let i = index">
                        <label formArrayName="arrayOfAllDateInfo">
                            <input type="checkbox" [formControlName]="i">
                            Intervalo de Fecha: {{arrayOfAllDateInfo[i].date_id.start_date}} - {{arrayOfAllDateInfo[i].date_id.end_date}}<br>
                            Intervalo de Hora: {{arrayOfAllDateInfo[i].hour_id.start_time}} - {{arrayOfAllDateInfo[i].hour_id.end_time}}<br>
                        </label> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    Si quieres agregar mas Intervalos de Fechas, haz click aqui.
    <div class="modal-footer">
        <button type="button"  (click)="updateTour()"  [disabled]="form.pristine || form.invalid"  class="btn btn-danger pull-right">Editar</button> 
    </div>
</form>

